{{ define "main" }}


<section class="main-page" id='main'>
  <picture>
  <source media="(max-width: 720px)" srcset="{{ "/images/1-mobile.png" | relURL }}">
  <img class="main-image" src="{{ "/images/1.png" | relURL }}" alt="Центр олимпиадной подготовки"></picture>
  <div class="main-overlay">
    <h1>Центр олимпиадной подготовки</h1>
    <h4>Мы придаем учебе смысл. В момент, когда у них загораются глаза, мы знаем — получилось.</h4>
    <a href="#contact" class="main-button">Записаться</a>
  </div>
</section>

{{ partial "home/features.html" . }}

<!-- {{ partial "trust.html" . }} -->

{{ partial "home/yandex-reviews.html" (dict
  "orgID"   "143930302879"
  "orgURL"  "https://yandex.com/maps/org/arkhimed/143930302879/"
  "orgName" "Архимед"
  "height"  "620px"    
) }}


{{ partial "home/courses.html" . }}

  <section id="contact" class="contact-wrapper animate">
    <div class="contact-form-container">
      <h2>Записаться и задать вопрос</h2>
      <p>Оставьте заявку, и мы с вами свяжемся</p>
      <form id="contactForm">
        <label for="name">ФИО</label>
        <input type="text" id="name" name="name" placeholder="Ваше ФИО" required />

        <label for="phone">Телефон для связи</label>
        <input type="tel" id="phone" name="phone" placeholder="Ваш телефон" required />

        <label for="messenger">ВК</label>
        <input type="text" id="messenger" name="messenger" placeholder="nickname" />

        <label for="Email">Почта</label>
        <input type="email" id="email" name="email" placeholder="Ваша почта" />

        <label>Как с вами лучше связаться?</label>
        <div class="checkbox-group">
          <label><input type="checkbox" name="contactMethod" value="Телефон"> Телефон</label>
          <label><input type="checkbox" name="contactMethod" value="ВК"> ВК</label>
          <label><input type="checkbox" name="contactMethod" value="Почта"> Почта</label>
        </div>

        <label for="courses">Какие курсы вас интересуют?</label>
        <input type="text" id="courses" name="courses" placeholder="Направление, класс" />

        <label><a href="/pdf/privacy.pdf">Вы согласны на обработку персональных данных?</a></label>
        <div class="checkbox-group">
          <label><input type="checkbox" name="spd" value="Да" required> Да</label>
        </div>

        <button type="submit">Отправить</button>
      </form>
      <p id="responseMessage"></p>
    </div>
  </section>

  <section class="contacts-section animate">
    <div class="contacts-container">
      <div class="contacts-left">
        <h3>Наши контакты</h3>
        <p><a href="tel:+79254323031">+7 (925) 432-30-31</a></p>
        <p><a href="mailto:arhimedcenter@yandex.ru">arhimedcenter@yandex.ru</a></p>
        <p><a href="https://vk.com/arhimedcenter" target="_blank">ВКонтакте</a></p>
      </div>
      <div class="contacts-right">
        <h3>Мы работаем</h3>
        <p>ул. Чугунова 1Б, Раменское</p>
        <p>Пн–Сб 11:00–18:00</p>
      </div>
    </div>
  </section>

{{ partial "home/gallery.html" . }}


<script src="/js/observer.js"></script>
<script src="/js/cookie.js"></script>

{{ end }}
