<section id="course" class="courses-section animate">
  <h2>Наши курсы</h2>
  <div class="course-category">
    <h3>Математика</h3>
    <div class="courses-container">
      {{ range where .Site.RegularPages "Section" "courses" }}
        {{ if eq (.Params.category | lower) "math" }}
          <div class="course-card">
            <div class="course-card-inner">
              <div class="course-card-front">
                <p>{{ .Title }}</p>
              </div>
              <div class="course-card-back">
                <p>Формат: {{ .Params.format }}</p>
                <p>Цена: {{ .Params.price }}</p>
                <a href="#contact" class="course-btn">Записаться на пробный урок</a>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="course-category">
    <h3>Специальные программы и мероприятия</h3>
    <div class="courses-container">
      {{ range where .Site.RegularPages "Section" "courses" }}
        {{ if eq (.Params.category | lower) "special" }}
          <div class="course-card">
            <div class="course-card-inner">
              <div class="course-card-front">
                <p>{{ .Title }}</p>
              </div>
              <div class="course-card-back">
                {{ .Content }}
                <a href="#contact" class="course-btn">Записаться</a>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>